Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [8]:
start = 2000
end = 3200
step = 1
strg = [];
while(start <= end):
    if(start%7 == 0 and start%5 !=0):
        strg.append(start)
        step = 7
    start = start+step
print(strg)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [10]:
first_name = "Sudha"
last_name = "Murthy"
l = list([first_name, " ", last_name])
l[::-1]

['Murthy', ' ', 'Sudha']

OR

In [14]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
l = list([first_name, " ", last_name])
l[::-1]

Enter your first name:Sudha
Enter your last name:Murthy

['Murthy', ' ', 'Sudha']

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [17]:
pi=3.14
diameter= 12
radius= diameter/2
V= 4/3*pi*radius*radius*radius
V

904.3199999999998

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [21]:
ip = input("please enter comma-separated numbers:")
l=list(ip)
l[::2]

please enter comma-separated numbers:1,2,3,4,

['1', '2', '3', '4']

Create the pattern using nested for loop in Python.

In [34]:
char = '*'
max_length = 5
for i in list(range(max_length+1)):
    strg = ''
    for j in list(range(i)):
        strg = strg+char
    print(strg)
for i in list(range(1,max_length+2)):
    strg = ''
    for j in list(range(max_length - i)):
        strg = strg+char
    print(strg)

*
**
***
****
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.

In [37]:
ip = input("Input Word:")
l = list(ip)
ip = ''.join(l[::-1])
print("Output:"+ip)

Input Word:asdfg
Output:gfdsa

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [44]:
str1 = 'WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'
l = list(range(0,len(str1),' '))
l
flag = True
for word in l:
    print(word)
    
#print(str)

TypeError: 'str' object cannot be interpreted as an integer